In [51]:
import pandas as pd
import src.create_RFM as c
import src.data_preprocessing as dp

In [52]:
data=pd.read_csv('data.csv',encoding='latin-1')

In [53]:
data=dp.pipeline(data)

In [54]:
rfm=c.rfm_pipeline(data,True)

In [55]:
rfm

,R,F,M,R_score,F_score,M_score,RF_score,segments
CustomerID,,,,,,,,
12346.0,326,1,77183.60,1,1,5,11,hibernating
12347.0,2,182,4310.00,5,5,5,55,champions
12348.0,75,31,1797.24,2,3,4,23,at_Risk
12349.0,19,73,1757.55,4,4,4,44,loyal_customers
12350.0,310,17,334.40,1,2,2,12,hibernating
...,...,...,...,...,...,...,...,...
18280.0,278,10,180.60,1,1,1,11,hibernating
18281.0,181,7,80.82,1,1,1,11,hibernating
18282.0,8,12,178.05,5,1,1,51,new_customers
18283.0,4,756,2094.88,5,5,5,55,champions
18287.0,43,70,1837.28,3,4,4,34,loyal_customers